@import url('https://fonts.googleapis.com/css2?family=Jua&family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e4f4f;
    font-family: 'Jua', sans-serif;
    overflow-x: hidden;
}

/* navbar */

nav {
    display: flex;
    background-color: #2e4f4f;
    justify-content: space-around;
    height: 45px;
    color: #CBE4DE;
    align-items: center;
}

nav .logo {
    font-family: 'Lilita One', sans-serif;
}

.btn-resume {
    font-family: 'Jua', sans-serif;
    background-color: #0E8388;
    font-size: 12px;
    color: #CBE4DE;
    border-radius: 70px;
    width: 100px;
    height: 30px;
    transition: transform .4s;
}

.btn-resume:hover {
    transform: scale(1.2);
}

nav ul {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
}

nav ul li a {
    color: #CBE4DE;
    text-decoration: none;
    font-size: 0.3cm;
}

nav ul li a:hover {
    color: #0E8388;
}

main::after {
    display: table;
}

/* navbar end */


/* hero right*/
.newslatter {
    float: left;
    max-width: 70%;
    padding: 20px;
    height: 165px;
    align-items: center;
    position: relative;
    color: #CBE4DE;
    font-size: 20px;
    /* background: red; */
}

.input {
    position: relative;
    top: 10px;
}

.newslatter form input:first-child {
    display: inline-block;
    padding: 14px 130px 14px 15px;
    border: 2px solid #0E8388;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #0E8388;
    color: #CBE4DE;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    right: 120px;
}

/* hero left */
.profile {
    float: right;
    position: relative;
    width: 30%;
    height: 165px;
    text-align: center;
    color: #CBE4DE;
    font-size: 12px;
    /* background: green; */
}

.profile img {
    width: 100px;
}

/* hero end */

.row {
    padding: 10px;
    position: relative;
    display: grid;
    text-align: center;
    align-items: center;
    color: #CBE4DE;
    background-color: #0E8388;
    grid-template-columns: 25% 25% 25% 25%;
}

/* service */
.service {
    color: #CBE4DE;
    font-size: 16px;
    text-align: center;
    padding: 50px 10px 0px;
}

.service-box {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px 50px;
    grid-gap: 2rem;
}

.service-item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: #CBE4DE;
    background-color: #0E8388;
}

.fs-20 {
    font-size: 16px;
}

.view-all {
    text-align: center;
}

.view-btn {
    background-color: #0E8388;
    font-size: 12px;
    color: #CBE4DE;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    transition: transform .4s;
}

.view-btn:hover {
    transform: scale(1.2);
}

/* end service */

/* portfolio */
.Portfolio {
    position: relative;
    color: #CBE4DE;
    font-size: 16px;
    text-align: center;
    padding: 50px 0px 0px;
}

.box {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 25% 25%;
}

.card {
    color: #CBE4DE;
    box-sizing: border-box;
    border-style: solid;
    border-color: #111;
    position: relative;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    border-width: 3px;
    width: 200px;
    padding: 20px 35px;
    background: #0E8388;
    border-radius: 20px;
    margin: 30px;
    overflow: hidden;
}

.read-more-state {
    display: none;
}

.read-more-target {
    max-height: 0;
    opacity: 0;
    font-size: 0;
    transition: 0.45s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
}

.read-more-state~.read-more-trigger:before {
    content: 'lebih banyak';
}

.read-more-state:checked~.read-more-trigger:before {
    content: 'lebih sedikit';
}

.read-more-trigger {
    color: #CBE4DE;
    background-color: #2e4f4f;
    margin-top: 10px;
    padding: 0 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    line-height: 2;
    border-radius: 10px;
}

.card h1 {
    font-size: 24px;
    display: flex;
    text-align: center;
    color: #2e4f4f
}

.text-card {
    font-size: 12px;
    text-align: start;
    color: #CBE4DE
}

/* end portfolio */

/* Testimoni */
.testimoni {
    position: relative;
    color: #CBE4DE;
    font-size: 16px;
    text-align: center;
    padding: 50px 0px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    /* background-color: #efefef; */
}

.card-wrapper {
    min-height: 40px;
    /* grid-template-columns: 10% 10% 10%; */
}

.slide-content {
    margin: 0 40px;
}

.card-testimoni {
    color: #2e4f4f;
    width: 320px;
    border-radius: 25px;
    background-color: #CBE4DE;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0E8388;
    border-radius: 25px 25px 0 25px;
}

.overlay::before .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: red;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #CBE4DE;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* end testimoni */

/* contact */
.contact {
    color: #CBE4DE;
    padding: 10PX;
}

.contact-me {
    display: flex;
    align-items: center;
    color: #CBE4DE;
    padding: 10px;
}

.contact-me img {
    width: 30px;
}

/* footer start */
footer {
    color: #CBE4DE;
    background-color: #0E8388;

    /* position: absolute; */
}

/* footer end */



/* media quere */
@media screen and (max-width: 576px) {
    main>div {
        width: 100%;
    }

    .newslatter {
        font-size: 12px;
    }

    .profile {
        font-size: 8px;
    }

    .newslatter form input:first-child {
        display: inline-block;
        padding: 1px;
        border: 1px solid #0E8388;
        outline: none;
        border-radius: 30px;
    }

    .newslatter form input:last-child {
        position: absolute;
        outline: none;
        border: none;
        padding: 1px;
        border-radius: 30px;
        left: 130px;
        top: 0px;
        background-color: #0E8388;
        color: #CBE4DE;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    }

    .service {
        color: #CBE4DE;
        font-size: 12px;
        text-align: center;
        padding: 50px 10px 0px;
    }

    .service-box {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 150px 150px;
        grid-template-rows: 50px 50px;
        grid-gap: 2rem;
    }

    .Portfolio {
        position: relative;
        color: #CBE4DE;
        font-size: 12px;
        text-align: center;
        padding: 50px 0px 0px;
    }

    .box {
        display: block;
        position: relative;
        align-items: center;
    }

    .card {
        color: #CBE4DE;
        box-sizing: border-box;
        border-style: solid;
        border-color: #111;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-width: 3px;
        background: #0E8388;
        border-radius: 20px;
        overflow: hidden;
    }

    .testimoni {
        position: relative;
        color: #CBE4DE;
        font-size: 12px;
        text-align: center;
        padding: 50px 0px 0px;
    }
}